<!-- templates/products.html -->
{% extends "base.html" %}

<title>{% block title %}PCComponentes - Product List{% endblock %}</title>

{% block content %}

<div class="container mt-lg-4">
    <div class="card mb-3">
        <div class="card-header text-center">PRODUCTS</div>
        <div class="card-body">
          <h5 class="card-title text-end text-danger fw-light fs-5">Registered Products: {{num_products}}</br> Units on storage: {{amount}}</br> Storage Value: {{products_price}} $</h5>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>NAME</th>
                        <th>DESCRIPTION</th>
                        <th>STOCK</th>
                        <th>SELL PRICE</th>
                        <th>BUY PRICE</th>
                        <th>IMAGE</th>
                        <th>ACTIVE</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in products %}
                    <tr>
                        <td>{{i.id}}</td>
                        <td>{{i.name}}</td>
                        <td>{{i.description}}</td>
                        <td>{{i.stock}}</td>
                        <td class="text-success fw-bold">{{i.buy_price}} $</td>
                        <td class="text-danger fw-bold">{{i.sell_price}} $</td>
                        <td><img src="{{i.image}}" class="img-thumbnail" style="width: 160px; height: 100px;"></td>
                        <td>{{i.is_active}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}