<!-- templates/categories.html -->
{% extends "base.html" %}

<title>{% block title %}PCComponentes - Category List{% endblock %}</title>

{% block content %}
<div class="container mt-lg-4">
    <div class="card mb-3">
        <div class="card-header text-center">CATEGORIES</div>
        <div class="card-body">
          <h5 class="card-title">Amount of categories: {{num_categories}}</h5>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>NAME</th>
                        <th>ACTIVE</th>
                        <th>TOOLS</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in categories %}
                    <tr>
                        <td>{{i.id}}</td>
                        <td>{{i.name}}</td>
                        {% if i.is_active %}
                        <td class="text-success fw-bold">TRUE</td>
                        {% else %}
                        <td class="text-danger fw-bold">FALSE</td>
                        {% endif %}
                        <td>
                            <div class="btn-group-horizontal" role="group">
                            <a class="btn btn-warning text-light" href="edit/{{i.id}}">EDIT</a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}