<!-- templates/user/change_password.html -->
{% extends "base.html" %}
{% load crispy_forms_tags %}
<title>{% block title %}PCComponentes - Change Password {% endblock %}</title>

{% block content %}
<div class="container mt-lg-4">
    <div class="card mb-3 border-success">
        <div class="card-header text-center text-light bg-success">User Profile</div>
        <div class="card-body">
            <div class="container">
                <div class="row">
                  <div class="col-3">
                    <img src="https://i.pinimg.com/originals/7c/c7/a6/7cc7a630624d20f7797cb4c8e93c09c1.png" class="img-fluid">
                  </div>
                  <div class="col">
                    <form method="post">
                      {% csrf_token %}
                      {{ form | crispy }}
                      <button type="submit" class="btn btn-success">Save changes</button>
                      <a href="{% url 'dashboard' %}" class="btn btn-danger">Cancel</a>
                    </form>
                      {% if alert == 0 %}
                      <h5 class="mt-3 text-center text-danger fw-bolder">Error! Can't update password. Try Again.</h5>
                      {% elif alert == 1 %}
                      <h5 class="mt-3 text-center text-success fw-bolder">Password updated succesfully!</h5>
                      {% else %}
                      {% endif %}
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}